* {
    margin: 0;
}

body {
    background-color: #f3f3f3;
}

.wrapper {
    width: 960px;
    background-color: #ffffff;
    margin-left: 120px;
}

.footer {
    width: 1200px;
    height: 40px;
    background-color: #39930d;
    margin-left: -120px;
}

.footer-ul {
    list-style-type: none;
    float: right;
    display: flex;
    height: 15px;
}

.footer-text-1 {
    width: 400px;
    padding-top: 13px;
    padding-left: 135px;
    font-size: 14px;
    color: #ffffff;
    font-family: "Arial";
}

.instagram,
.facebook,
.twitter {
    float: right;
    margin-top: -18px;
    padding-right: 10px;
}

.twitter {
    padding-right: 135px;
}

main {
    display: flex;
}

.picture-2,
.picture-3,
.picture-4 {
    padding-right: 6px;
    padding-top: 6px;
}

.picture-1 {
    padding-left: 16px;
}

.img2 {
    padding-left: 16px;
}

.main-text {
    width: 620px;
    margin: 16px 0px;
}

.p1 {
    margin: 16px 0px;
}

.p2 {
    margin: 16px 0px;
}

.p3 {
    margin: 16px 0px;
}

.navigation {
    display: flex;
    flex-direction: row-reverse;
}

.partners {
    margin-top: 31px;
}

.main-text {
    margin-left: 20px;
}

.square-text {
    width: 281px;
    height: 30px;
    background-color: #39930d;
    margin-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    font-family: "Arial";
    text-align: justify;
    padding-top: 10px;
    padding-left: 19px;
    text-align: center;
    display: flex;
    position: static;
}

.h1 {
    font-size: 24px;
    color: #39930d;
    font-weight: bold;
    font-family: "Arial";
}

.p1,
.p2,
.p3 {
    font-size: 14px;
    color: #343434;
    font-family: "Arial";
}

.li {
    list-style-type: none;
    padding-top: 12px;
    font-size: 14px;
    text-transform: uppercase;
    color: #343434;
    font-family: "Arial";
}

li {
    padding-top: 10px;
}

.phone-number {
    text-decoration: none;
    font-size: 14px;
    line-height: 7px;
    color: #5a5a5a;
    font-weight: bold;
    font-family: "Arial";
    text-align: right;
}

.header {
    display: flex;
}

.ball {
    margin: 15px 8px 15px 15px;
}

.text1 {
    margin-top: 15px;
    font-size: 14px;
    color: #5a5a5a;
    font-family: "Arial";
}

span {
    font-size: 24px;
    text-transform: uppercase;
    color: #39930d;
    font-weight: bold;
    font-family: "Arial";
}

.grafik {
    padding-left: 460px;
}

.grafik-text {
    font-size: 14px;
    color: #5a5a5a;
    font-weight: bold;
    font-family: "Arial";
    text-align: right;
}

.grafik,
.phone {
    margin-top: 20px;
}